
/* Global  ****************************/


.heebo-font {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #030303;
  overflow-y: hidden;
}

header {
  width: 100%;
  height: 35px;
  background: #030303;
  padding: 30px 0;
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(212,212,212,0.1);
}

header h3 {
  margin-left: 150px;
}

header h3 a {
  font: normal 700 1.3em "americane",sans-serif;
  color: #ededed;
  text-decoration: none;
}

nav {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(212,212,212,0.2);
  border-radius: 10px;
  margin-right: 45px;
}

nav ul {
  display: block;
  margin: 6px 0 0 10px;
}

nav ul li {
  list-style-type: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.4em;
}

.index {
  border-right: 1px solid rgba(244, 244, 244, 0.1);
  width: 25px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  background: #030303;
  z-index: 99999 !important;
  padding: 15px 25px;
}

.index menu {
  padding-bottom: 50px;
}

.index menu li {
  line-height: 2.3em;
}

.index menu li a {
  font: normal 300 0.9em "americane",sans-serif;
  color: #fafafa;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll !important;
}

main {
  width: 100%;
  height: auto;
  margin: 5% auto 0 auto;
}

#glossary-content-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 35px 0 100px 0;
  width: 70%;
  margin: 0 auto;
}

main #left-column{
  width: 15%;
}

main #right-column {
  width: 75%;
}

#letter h1 {
  font: normal 700 8em "americane",sans-serif !important;
  display: block;
  position: fixed;
  color: #fafafa;
}

#glossary-content-flex .glossary-terms {
  width: 100%;
  border-bottom: 1px solid rgba(244, 244, 244, 0.1);
  padding: 15px 0;
  margin: 25px 0 25px 0;
}

p {
  font: normal 300 0.8em "Heebo", sans-serif;
  letter-spacing: 1px;
  color: #fafafa;
  margin-top: 10px;
}

 .term {
  font: normal 900 0.9em "Heebo", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #101010;
  overflow-y: hidden;
}

footer input {
  background: #1E1E1E;
  border-radius: 15px;
  border: none;
  display: block;
  margin: 20px auto 0 auto;
  width: 500px;
  height: 40px;
  outline: transparent;
  font: normal 200 1em "americane", sans-serif !important;
  color: #fafafa;
  padding-left: 25px;
}

footer input:hover {
  background: rgba(244, 244, 244, 0.1);
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}

/* Directory  **************************/


/* Tautogram  **************************/





/* Search  ****************************/


/* About  ******************************/


#about {
  margin: 12.5% auto 0 auto;
  width: 45%;
  border: 1px solid rgba(212,212,212,0.1);
  border-radius: 20px;
  padding: 45px;
}

#about h3 {
  font: normal 700 1.6em "americane",sans-serif;
  color: #ededed;
  text-decoration: none;
}


#about p {
  font: normal 300 0.8em "Heebo", sans-serif;
  color: #fafafa;
  margin-top: 10px;
  line-height: 2.5em;
}

blockquote {
  font: normal 500 0.8em "Heebo", sans-serif;
  color: #fafafa;
  margin-top: 10px;
  width: 100%;
}

span {
  color:#FDE49E;
}

/* Contact  ****************************/


/* Documentation  **********************/

#documentation {
  margin: 10% auto 0 auto;
  padding-bottom: 95px;
  width: 57%;
}

#documentation h3 {
  font: normal 700 1.6em "americane",sans-serif;
  color: #ededed;
  text-decoration: none;
}

#documentation p {
  font: normal 300 0.8em "Heebo", sans-serif;
  color: #fafafa;
  margin-top: 10px;
}

.entries {
  margin: 35px 0;
}

.entries h4 {
  font: normal 500 0.9em "americane",sans-serif;
  letter-spacing: 1px;
  color:#FDE49E;
}

.entry-content {
  background: #1E1E1E;
  padding: 25px;
  border-radius: 15px;
  margin: 15px 0 50px 0;
  height: 140px;
  overflow-y: scroll;
}

.entries pre {
  color: #fafafa;
}

.url span {
  color: #fafafa;
  background:#1E1E1E;
  font-weight: 500;
}

/* Subscribe  **************************/

#subscription {
  position: fixed;
  top: 150px;
  left: 25%;
  padding: 45px;
  width: 50%;
  height: 220px;
  border-radius: 20px;
  background: #fafafa;
}

#subscription h3 {
  font: normal 700 1.6em "americane",sans-serif;
  color: #1e1e1e;
  text-decoration: none;
}

#subscription  p {
  font: normal 300 0.8em "Heebo", sans-serif;
  color:#030303;
  margin-top: 10px;
  line-height: 2.5em;
}

#subscription form {
  width: 100%;
  margin: 25px auto 0 auto;
}

#subscription form input[type='email']{
  width: 70%;
  height: 45px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  background:#030303;
  padding-left: 10px;
  color: #fafafa;
}

#subscription form input[type='submit'] {
  border: 2px solid #030303;
  border-radius: 5px;
  background: transparent;
  color: #030303;
  font: normal 700 0.9em "Heebo", sans-serif;
  text-transform: uppercase;
  width: 140px;
  height: 40px;
  cursor: pointer;
  margin-left: 15px;
}

#subscription .close {
 float: right;
 margin: -25px -20px 0 0;
 font: normal 500 1.4em "americane", sans-serif !important;
 color: #030303;
 text-decoration: none;
}

/* Dashboard  **************************/

#signin {
  width: 30%;
  height: 230px;
  margin: 12% auto 0 auto;
  padding: 50px 75px;
  border: 1px solid  rgba(244, 244, 244, 0.1);
  border-radius: 25px;
}

#signin h3 {
  font: normal 700 1.3em "americane",sans-serif;
  color: #fafafa;
  text-decoration: none;
  margin: 0 0 25px 0;
}

#signin form input[type='text']{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  background:#101010;
  margin-bottom: 25px;
  padding-left: 10px;
  color: #fafafa;
}

#signin form input[type='password']{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  outline: transparent;
  background:#101010;
  margin-bottom: 35px;
  padding-left: 10px;
  color: #fafafa;
}

#signin form input[type='submit']{
  border: 2px solid rgba(212,212,212,0.1);
  border-radius: 5px;
  background: transparent;
  color: #fafafa;
  font: normal 700 0.9em "Heebo", sans-serif;
  width: 140px;
  height: 40px;
  float: right;
  cursor: pointer;
  margin-left: 15px;
}



/* Styles for menus etc. (JavaScript) */

#overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
}

.menu-window {
  width: 100%;
  height: 65px;
  background: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  animation: menuSlideIn 1s ease-in .3s forwards;
}

#menu-window {
  animation: menuSlideOut 1s ease-out .3s backwards;
}

 .menu-window .close {
  float: right;
  margin: 20px 35px 0 0;
  font: normal 200 1em "americane", sans-serif !important;
  color: #030303;
  text-decoration: none;
}

.menu-window menu {
  width: 20%;
  margin: 20px auto 0 auto;
}

.menu-window li {
  display: inline;
  list-style-type: none;
  padding-right: 25px;
}

.menu-window li a {
  font: normal 200 1em "americane", sans-serif !important;
  color: #030303;
  text-decoration: none;
}

@keyframes menuSlideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1
  }
}

@keyframes menuSlideOut {
  from {
    transform: translateY(0px);
    opacity: 1
  }
  to {
    transform: translateY(-100px);
    opacity: 0
  }
}
