{% extends 'base.html' %}
{% block content %}
{% include 'partials/glossary_menu.html' %}
<div class="container">
<main>
  <div id="about">
     <h3>About</h3>
     <p>
       <span>Glossie</span> is a glossary for programmers. If you are a noob or have shifted roles into a position
       with nomenclature in tech that might not be familiar to you this might be helpful. I
       use it for terms that I forget that haven&apos;t come up in some time. Anyway...Happy Coding 🧑🏾‍💻
     </p>
     <br>
     <blockquote>&quot;{{ random_quote['quote']}}&quot;&nbsp;&nbsp;&nbsp;&mdash;{{ random_quote['author'] }}</blockquote>
  </div>
</main>
{% include 'partials/footer.html' %}
</div>
{% endblock %}
