<!doctype html>
<html lang="en">
    <head>
        <title>Glossie - A programmers glossary</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/fonts.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    </head>
    <body>
       <header>
          <h3><a href="{{ url_for('glossary_directory') }}">Glossie</a></h3>
              <nav>
                <ul>
                  <li>&#9776;</li>
                </ul>
              </nav>
       </header>
        {% block content %}{% endblock %}
        <footer>
            <input type="search" name="search" id="search" placeholder="Search" />
        </footer>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
