{% extends 'base.html' %}
{% block content %}
<main>
  <div id="documentation">
    <h3>Documentation</h3>
    <p>Here are some endpoints that you can use if you wish</p>
    <div class="entries" id="all">
       <h4>Get all glossary entries</h4>
       <p class="url">URL: <span>https://glossie.info/api/list/all</span></p>
       <div class="entry-content"><pre></pre></div>
    </div>
    <div class="entries" id="random">
       <h4>Get random entry</h4>
       <p class="url">URL: <span>https://glossie.info/api/random-term</span></p>
       <div class="entry-content"><pre></pre></div>
    </div>
    <div class="entries" id="search-term">
       <h4>Get by search term</h4>
       <p class="url">URL: <span>https://glossie.info/api/search/term</span></p>
       <div class="entry-content"><pre></pre></div>
    </div>
    <div class="entries" id="limited-search">
       <h4>Limited number of glossary entries</h4>
       <p class="url">URL: <span>https://glossie.info/api/list/limit/n</span></p>
       <div class="entry-content"><pre></pre></div>
    </div>
  </div>
</main>
{% endblock %}
