{% extends 'base.html' %} {% block content %}
<div id="container">
    <menu>
        {% for glossary_item in glossary_menu %} {% if glossary_item['initial']
        is not none %}
        <li>
            <a href="/{{ glossary_item['initial']|lower }}"
                >{{ glossary_item['initial'] }}</a
            >
        </li>
        {% endif %} {% endfor %}
    </menu>
    <main>
        <h1>Glossie</h1>
        <div id="glossary-content-flex">
            <div id="letter">
                <h1>A</h1>
            </div>
            {% for glossary in glossary_terms %}
            <div class="glossary-terms">
                <p>{{ glossary['term'] }}</p>
                <p>{{ glossary['definition'] }}</p>
            </div>
            {% endfor %}
        </div>
        <div id="content"></div>
    </main>
</div>
{% endblock %}
