{% extends 'base.html' %}
{% block content %}
{% if request.endpoint == 'signin' %}
   {% include 'partials/dashboard_menu.html' %}
{% endif %}
<div class="container">
<main>
  <div id="signin">
      <h3>Sign in</h3>
      <form method="POST" action="/subscribe">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="Sign in">
      </form>
  </div>
  </main>
</div>
{% endblock %}
